<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
	<title></title>
	<style type="text/css">
			*{
			  font-family : "tahoma"
			}

	</style>
</head>
<body style="width:100%;">
<img src="https://image.ibb.co/gGW4xc/logo.png" alt="logo" border="0" style="width:40%;">
<p>Se expide el <%= _data.date %> .</p>
<br>
<br>
 <p>Señor(a) <%= _data.name %></p> 
<p>Sincelejo-Sucre</p>
<p>Referencia: Comunicación Previa. Artículo 12 Ley 1266 de 2008</p>
  
  <p>Señor(a) <%= _data.name %></p>
<br>
<br>
 <p>De manera atenta hacemos referencia a la obligación No. <%= _data.pagare %> que a la fecha  <%= _data.date %> continúa pendiente de pago.
</p>
<p style="width:94%;text-align:justify;">Sobre el particular, le informamos que, de acuerdo con lo establecido en el artículo 12 de la Ley 1266 de 2008, en el evento que no cancele el pago pendiente de su obligación dentro de los siguientes 20 días calendario, contados a partir de la fecha de envío de la presente comunicación, reportaremos el incumplimiento del pago reflejándose negativamente en su Historial Crediticio.</p>  
<br>
<br>
<br>
<br>
<br>
<br>

<p>Cordialmente,</p>
<p>DAIMONT S.A.S</p>
<br>
<br>
<br>
<br>
<div class="footer" style="position:static;border: 0px;width: 100%;">
  <p style="text-align:center;font-size:12px;">DAIMONT S.A.S</p>
  <p style="text-align:center;font-size:12px;">NIT 901.091.741-7</p>   
</div>  
  </body>
</html>
